---
- name: Install nginx
  yum:
    name: nginx
    state: present
    update_cache: yes

- name: Deploy nginx frontend config
  template:
    src: nginx_frontend.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: "0644"
  notify: Restart nginx

- name: Enable and start nginx
  service:
    name: nginx
    state: started
    enabled: true
