---
- name: Install httpd
  yum:
    name: httpd
    state: present
    update_cache: yes

- name: Deploy backend index page
  template:
    src: backend_index.html.j2
    dest: /var/www/html/index.html
    owner: apache
    group: apache
    mode: "0644"
  notify: Restart httpd

- name: Enable and start httpd
  service:
    name: httpd
    state: started
    enabled: true
